<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Main page manaxx</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="css/vendor.css">
		<script src="js/modernizr.js"></script>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="wrapper">

			<header class="header">
				<div class="head-top clearfix">
					<div class="wrap-sity left">
						<select class="select" name="sity" id="">
							<option value="">Михайловка</option>
							<option value="">Волгоград</option>
						</select>
					</div>
					<div class="right">
						<a class="auth" href="#"><i></i>Войти</a>
						<a class="cart" href="#"><i></i>Корзина <span>0 руб.</span></a>
					</div>
				</div><!-- .head-top -->
				<div class="head-center clearfix">
					<div class="advantages">
						<p class="delivery"><i></i>Бесплатная доставка</p>
						<p class="pickup"><i></i>Самовывоз из магазинов</p>
					</div>
					<div class="logo">
						<a href="/">
							<img src="img/logo.png" alt="Логотип сайта">
						</a>
					</div>
					<div class="wrap-phone">
						<p>8 800 <span>555 80 05</span> / 8 961 <span>596 54 85</span></p>
					</div>
					<div class="search">
						<form action="#" method="POST">
							<div class="form_item">
								<input type="search" name="search" placeholder="Поиск">
								<input type="submit" value="Поиск">
							</div>
						</form>
					</div>
				</div><!-- .head-center -->
				<nav class="main-menu clearfix">
					<ul>
						<li><a href="#">Одежда</a></li>
						<li><a href="#">Аксессуары</a></li>
						<li><a href="#">Сумки</a></li>
						<li><a href="#">Обувь</a></li>
						<li><a href="#">Новинки</a></li>
						<li><a href="#">Скидки</a></li>
						<li><a href="#">Lookbook</a></li>
					</ul>
				</nav><!-- .main-menu -->
			</header><!-- .header-->

			<main class="content">
				<div class="wrap-slider">
					<ul class="bxSlider">
						<li>
							<img src="img/slide-1.jpg" alt="">
							<div class="year-collection">
								<p>Женская коллекция<br/>2015/16</p>
								<a href="#" class="btn">Перейти к покупкам</a>
							</div>
						</li>
					</ul>
				</div><!-- .wrap-slider -->
				<h1>Хиты продаж</h1>
				<div class="wrap-hit">
					<ul class="hitSlider clearfix">
						<li>
							<a href="#">
								<img src="img/hit-slide-1.jpg" alt="">
								<span class="name">Юбка</span>
								<span class="price">1599 руб.</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hit-slide-2.jpg" alt="">
								<span class="name">Блузка</span>
								<span class="price">1 399 руб.</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hit-slide-3.jpg" alt="">
								<span class="name">Юбка</span>
								<span class="price">2 599 руб.</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hit-slide-5.jpg" alt="">
								<span class="name">Футболка</span>
								<span class="price">999 руб.</span>
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/hit-slide-4.jpg" alt="">
								<span class="name">Жакет</span>
								<span class="price">3 599 руб.</span>
							</a>
						</li>
					</ul>
				</div><!-- .wrap-hit -->
				<div class="banners clearfix">
					<div class="banner-left">
						<img src="img/banner-1.jpg" alt="">
					</div>
					<div class="banner-right">
						<img src="img/banner-2.jpg" alt="">
						<img src="img/banner-3.jpg" alt="">
						<div class="discount">
							<div class="banner-text">
								-10% <span>на сумки</span>
							</div>
						</div>
					</div>
				</div><!-- .banners -->
			</main><!-- .content -->

		</div><!-- .wrapper -->

		<footer class="footer">
			<div class="footer_top clearfix">
				<div class="left">
					<div class="foot_top clearfix">
						<div class="contact">
							<p class="phone">
								Михайловка 8(800) 100-12-02<br/>
								8(961) 548-85-85
							</p>
							<div class="soc-menu">
								<ul class="clearfix">
									<li><a class="vk" href="#">В контакте</a></li>
									<li><a class="fb" href="#">Facebook</a></li>
									<li><a class="tw" href="#">Twitter</a></li>
									<li><a class="ig" href="#">Inctagram</a></li>
								</ul>
							</div>
						</div><!-- .contact -->
						<div class="foot_menu">
							<ul>
								<li><a href="#">Доставка и оплата</a></li>
								<li><a href="#">Возврат</a></li>
								<li><a href="#">Клубная карта</a></li>
								<li><a href="#">Отзывы и вопросы</a></li>
								<li><a href="#">Таблица размеров</a></li>
								<li><a href="#">Скидки и акции</a></li>
								<li><a href="#">Контакты</a></li>
							</ul>
						</div>
					</div><!-- .foot_top -->
					<div class="foot_bottom">
						<img src="img/visa.jpg" alt="">
						<img src="img/master.jpg" alt="">
						<img src="img/maestro.jpg" alt="">
					</div><!-- .foot_bottom -->
				</div><!-- .left -->
				<div class="right">
					<div class="wrap-subscribe">
						<form action="#" class="subscribe">
							<input type="text" name="subscribe" placeholder="Подпишитесь на новости">
							<input type="submit" value="Подписаться">
						</form>
					</div>
				</div><!-- .right -->
			</div><!-- .footer_top -->
			<div class="footer_bottom">
				<p class="copy">2003-20015 &#169; Monaxx.ru</p>
			</div>
		</footer><!-- .footer -->
		
		<div class="loader">
			<div class="loader_inner"></div>
		</div>

		<script src="js/vendor.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>